/* .moje_pojazd-main-div
{
	width: 70%;
	margin: 20px auto;
	background-color: #333;
	border-radius: 14px;
	padding: 5px;
} */

.vehicle-img
{
	width: 100%;
	height: auto;
}

.vehicle,.rezerwacja
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 2px solid black;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding: 1%;
}

.photo
{
	width: 30% !important;
	margin: auto;
}

.vehicle-container
{
	width: 50%;
	margin: 2%;
}

.vehicle-data
{
	display: flex;
	justify-content: space-between;

	color: #ffa500;
	font-size: 18px;
	border: 2px dotted black;
}

.vehicle-data > *
{
	padding: 10px;
}

@media (max-width: 768px) {
	.vehicle {
		flex-direction: column; /* Zmieniamy układ na kolumnowy */
        align-items: center;
		flex-wrap: wrap;
	}

	.vehicle-container {
		width: 100%;
		margin: auto;
	}
}

h4
{
	color: #ddd;
	line-height: 1.05em;
	margin: 0.5em 0;
	padding: 0;
}

.wazne
{
	color: green;
}

.niewazne
{
	color: red;
}

/* button
{
	background-color: #cc7300;
	border: 2px solid #aa5100;
	font-size: 14px;
	border-radius: 10px;
	padding: 5px;
	margin-right: 1em;
	font-weight: 700;
	color: white;
}

button:hover
{
	background-color: #ffa500;
	cursor: pointer;
} */

#delete
{
	background-color: #222;
	border: 2px solid black;
}

#delete:hover
{
	background-color: #555;
}

#add
{
	display: block;
	margin: 10px auto;
	background-color: green;
	border: 2px solid darkgreen;
	font-size: 26px;
}

#add:hover
{
	background-color: #33dd22;
	cursor: pointer;
}