/* MOJE KONTO */

.moje_konto-main-div
{
	width: 60%;
	background-color: #333;
	border-radius: 14px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin: 1em auto;
	color: white;
	padding: 1.618em;
}

div > img
{
	display: block;
}

div
{
	margin: auto;
}

button
{
	background-color: #cc7300;
	border: 2px solid #aa5100;
	font-size: 22px;
	border-radius: 10px;
	padding: 5px;
	margin-right: 1em;
	font-weight: 700;
	/*color: white;*/
}

button:hover
{
	background-color: #ffa500;
	cursor: pointer;
}

#logout
{
	background-color: red;
	border: 2px solid #770000;
}

#logout:hover
{
	background-color: #ff3333;
}

#delete
{
	background-color: #222;
	border: 2px solid black;
}

#delete:hover
{
	background-color: #555;
}

/* EDYCJA KONTA */

.moje_konto-edit-div
{
	width: 60%;
	background-color: #333;
	border-radius: 14px;
	border: 2px solid #cc7300;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin: 1em auto;
	color: white;
	padding: 1.618em;
}

.save-changes-button, .cancel-editing-button
{
	margin-right: 1em;
	margin-left: 1em;
}

.edit-section-h3
{
	font-size: 26px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

/* USUWANIE KONTA */
.moje_konto-delete-div
{
	width: 60%;
	background-color: #333;
	border-radius: 14px;
	border: 2px solid #ff3333;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	margin: 1em auto;
	color: white;
	padding: 1.618em;
}

.delete-button, .cancel-delete-button
{
	margin-right: 1em;
	margin-left: 1em;
	background-color: #770000;
	color: #FFFFFF;
}