table {
    /*border-collapse: collapse;*/
    width: 100%;
    color: white;
}

.theaders
{
    color: black;
    background-color: #cc7300;
}

th, td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}
  
tr {
    border-bottom: 1px solid #ddd;
}

.tbody-rows:hover
{
    background-color: #606060;
}

.edit-workday
{
    cursor: pointer;
    font-size: 175%;
}

.save-workday, .cancel-editing-workday
{
    display: inline-block;
}

.save-workday
{
    margin-right: 10%;
    background-color: green;
    padding: 5% 10%;
    cursor: pointer;
    border-radius: 8px;
}

.save-workday:hover
{
    background-color: darkgreen;
}

.cancel-editing-workday
{
    margin-left: 10%;
    background-color: red;
    padding: 5% 10%;
    cursor: pointer;
    border-radius: 8px;
}

.cancel-editing-workday:hover
{
    background-color: darkred;
}

/* <- */
.back-arrow
{
    width: 5%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    color: white;
    cursor: pointer;

    border-style: solid;
    border-color: white;
    border-radius: 8px;
}