/* table {
    width: 100%;
    color: white;
}

.theaders
{
    color: black;
    background-color: #cc7300;
}

th, td {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
}
  
tr {
    border-bottom: 1px solid #ddd;
}

.tbody-rows:hover
{
    background-color: #606060;
} */