.panel-admin-div
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	background-color: #333;
	border-radius: 12px;
	padding: 16px;
}

.admin-options
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.option
{
    font-size: 20px;
	background-color: #ffa500;
	border: 2px solid #cc7300;
	border-radius: 7px;
	text-decoration: none;
	padding: 10px;
	/*box-sizing: border-box;*/
	min-width: 40%;
	margin: 10px;
	flex-basis: 30%;
	height: calc(2.4em + 24px);
	color: black;
    font-weight: bold;
	
    /* Flexbox do wyśrodkowania tekstu */
    display: flex;
    align-items: center; /* Wyśrodkowanie w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */

    transition: background-color 0.3s, color 0.3s; /* Animacja na hover */
}

.option:hover
{
	cursor: pointer;
	background-color: #cc7300;
	color: white;
    font-weight: bold;
}

.-repo-heading
{
	font-size: 28px; /* Określa wielkość czcionki */
	font-weight: bold; /* Pogrubienie czcionki */
	color: white; /* Kolor czcionki */
	line-height: 1.4; /* Wysokość linii */
	margin: 20px 0; /* Odstępy wokół elementu */
}