.stands-div
{
    display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: center;
}

.stand
{
    width: 20%;
    border: 2px solid #cc7300;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

.stand:hover
{
    width: 20%;
    border: 2px solid #cc7300;
    background-color: #cc7300;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

.stand-title
{
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding: 0 10px;
}

.stand-name
{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.stand-activity
{
    text-align: center;
}

.stand-adding-title-div
{
    color: white;
    font-weight: bold;
    font-size: 32px;
    padding: 10px;
}

.stand-adding-div
{
    border: 2px solid #cc7300;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

.stand-adding-form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    margin: 0;
}

.stand-adding-form:first-child
{
    margin-bottom: 10px;
}

.stand-adding-form:last-child
{
    margin-top: 10px;
}

.stand-adding-form > *
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.stand-adding-form > label
{
    padding-top: 10px;
}

.is-active-stand-switch
{

}

/* Add stand */
.add-stand
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Przyciski do kafelków stanowisk */
.adding-btns
{
    margin: auto;
    display: flex;
	flex-direction: row;
    justify-content: center;
}

.add-stand-btn
{
    width: 1.5rem;
    height: 1.5rem;
    background-color: green;
    padding: 15% 20%;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.add-stand-btn:hover
{
    background-color: darkgreen;
}

.cancel-adding-stand-btn
{
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    padding: 15% 20%;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.cancel-adding-stand-btn:hover
{
    background-color: darkred;
}

/* + */
.plus-sign
{
    text-align: center;
    font-size: 28px;
    color: white;
    line-height: 350%;
}

/* Delete button */
.delete-stand-btn
{
    width: 1.7rem;
    height: 1.7rem;
    background-color: black;
    padding: 15% 20%;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.delete-stand-btn:hover
{
    background-color: gray;
}

/* <- */
.back-arrow
{
    width: 5%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    color: white;
    cursor: pointer;

    border-style: solid;
    border-color: white;
    border-radius: 8px;
}